<form class="navbar-form pull-right">
	{{ view Ember.TextField valueBinding=view.email class='span3' placeholder='E-Mail' }}
	{{ view Ember.TextField type='password' valueBinding=view.password class='span2' placeholder='Passwort' }}

	<button class="btn">Einloggen</button>
</form>