{{#linkTo index}}
	<h1>Hospitality</h1>
{{/linkTo}}

<ul id="navigation">
	<li>{{#linkTo public.time_slots}}Time Slots{{/linkTo}}</li>
    <li class="divider"></li>
    <li>{{#linkTo hospital.time_slots}}Time Slots{{/linkTo}}</li>


    <li>{{#linkTo notifications}}Notifications{{/linkTo}}</li>
</ul>
