<div class="navbar">
	<div class="navbar-inner">
		{{#linkTo index class='brand'}}Hospitality{{/linkTo}}

		<ul class="nav">
			<li>{{#linkTo time_slots}}Time Slots{{/linkTo}}</li>
		  <li class="divider"></li>

			{{#if Hospitality.Auth.user.canSeeReservations}}
				<li>{{#linkTo reservations}}Reservations{{/linkTo}}</li>
			{{/if}}

			{{#if Hospitality.Auth.signedIn}}
				<li class="divider-vertical"></li>
			  <li>{{#linkTo notifications}}Notifications{{/linkTo}}</li>
		  {{/if}}
		</ul>

		{{ view Hospitality.AuthView }}
	</div>
</div>

<div id="main" class="container">
	{{ outlet }}
</div>

{{render modal}}